{% extends 'main.html' %}
{% load static %}

{% block title %}
    Каталог
{% endblock %}

{% block link %}
<link
            rel="stylesheet"
            href="{% static 'css/styles.css' %}"
            type="text/css"
    >
   <link href="https://bootstrap-4.ru/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block app %}
   <div class="card form container py-5 col-md-6 themed-grid-col rounded">
        {% for product in products %}
            <a href="/shop/catalog/{{ product.id }}"><h5>{{ product.name }}</h5></a>
            {% if product.image %}
                <img src="{{ product.image.url }}"/>
            {% endif %}
        {% endfor %}
   </div>
{% endblock %}