{% extends 'main.html' %}
{% load static %}
{% block title %}
    Register
{% endblock %}

{% block link %}

<link
            rel="stylesheet"
            href="{% static 'css/styles.css' %}"
            type="text/css"
    >
   <link href="https://bootstrap-4.ru/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet">

{% endblock %}


{% block app %}
    <div class="card">
        <h2>
            Email verified!
        </h2>
        Now your can use all of the site's functions
    </div>
{% endblock %}