{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

{% block link %}

<link rel="stylesheet"
      href="{% static 'css/styles.css' %}"
      type="text/css">
{% endblock %}

{% block app %}
   <div class="card form container py-5 col-md-6 themed-grid-col rounded">
        <h4>Авторизация</h4>
          <form method="post" action="/login/">
              {% csrf_token %}
                {{ form|crispy }}
              <input type="submit" placeholder="Отправить">
          </form>
   </div>

{% endblock %}