{% extends 'main.html' %}
{% load static %}

{% block title %}
    О магазине
{% endblock %}

{% block app %}
    <div class="container">
        <div class="blog-post">
             <h2 class="blog-post-title">Cтиль света</h2>
            <p> Магазин светильников и электротехнической продукции «СветоТочка» расположен
                в центре Гродно, недалеко от автовокзала — на территории Центрального рынка.
                Работает с 2007 года.</p>
            <p> Предлагает покупателям широкий ассортимент подвесных, напольных, потолочных,
                настенных и точечных встраиваемых светильников, а также светодиодных изделий.</p>
            <p> В магазине представлены изделия производителей разных стран (РБ, Украина,
                Польша и др.) и стилей (кантри, классика, лофт, модерн, хай-тек).</p>
            <p>Сотрудники магазина с удовольствием помогут подобрать источник света,
                который идеально подойдет для конкретного помещения, учитывая пожелания, вкусы и бюджет покупателя.</p>
            <p>Магазин постоянно работает над расширением ассортимента по приемлемым ценам.</p>

             <p>С помощью интернет-магазина светильников «Стиль света» Вы без проблем сможете быстро и удобно
                выбрать люстру, бра, торшер, настольную лампу или светильник для детской, а затем заказать
                доставку в любой населенный пункт Беларуси.
            </p>
            <p>Наши светильники вы также можете увидеть в живую и приобрести в нашем магазине «Стиль света»
                по адресу: г. Гродно, ул.Антонова, 27, который работает ежедневно без выходных (по будням с 9.00 до 15.30).
            </p>

            <h3>Полный ассортимент магазина</h3>
            <ul>
                <li> люстры</li>
                <li>светильники встраиваемые</li>
                <li>линейные LED-светильники, ЖКХ и бытовые светильники</li>
                <li>светодиодные панели (LED панели) и светильники</li>
                <li>светодиодные ленты, блоки питания и профиль для них</li>
                <li>бра</li>
                <li>торшеры</li>
                <li>настольные лампы</li>
                <li>споты</li>
                <li>лампы</li>
                <ul>
                    <li>накаливания</li>
                    <li>люминесцентные</li>
                    <li>светодиодные</li>
                    <li>прожекторные</li>
                    <li>рефлекторные</li>
                    <li>уличные фонари, прожекторы</li>
                </ul>
            </ul>
            <p>Также в ассортименте присутствует оборудование для подсветки витрин, картин, зеркал,
                трансформаторы и датчики, реагирующие на движение и освещение.
            </p>
        </div>
    </div>

{% endblock %}