{% extends 'main.html' %}
{% load static %}

{% block title %}
    Отзывы
{% endblock %}

{% block link %}

    <link
            rel="icon"
            href="{% static 'img/iconname.ico' %}"
            type="image/x-icon"
    >
    <link href="https://bootstrap-4.ru/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet">

    <link
            href="https://fonts.googleapis.com/css?family=Osward|Roboto&display"
            rel="stylesheet"
    >
        <link
            rel="stylesheet"
            href="{% static 'css/form_styles.css' %}"
            type="text/css"
    >
    <link
            rel="stylesheet"
            href="{% static 'css/about.css' %}"
            type="text/css"
    >
    {% endblock %}


{% block app %}
   <div class="card form container py-5 col-md-6 themed-grid-col rounded">
        <h4>Добавьте совой отзыв</h4>
          <form method="post" action="/comment/create_comment/" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form }}
              <input type="datetime-local" name="expires_at">
              <input type="submit" placeholder="Отправить">
          </form>
   </div>



{% endblock %}