{% extends 'main.html' %}
{% load static %}

{% block title %}
    Каталог
{% endblock %}

{% block link %}



{% endblock %}

{% block app %}
   <div class="row mb-3">
        <div class="col-md-8 themed-grid-col">
            <div class="container">

            <div class="section section3 laptops-container">
                    <div class="container">
                        <div class="row">

                {% for product in products %}

                    <div class="col-lg-3">
                        <div class="product-item">
                            <div>
                                 <a id="{{ product.category.name }}"><img src="{{ product.image.url }}" class="card-img-top car-pic">
                                 </a></div>

                           <h5>{{ product.name }}</h5>
                            <strong class="d-inline-block mb-2 text-primary">
                                <h6>{{ product.category }}</h6></strong>

                            <div>
                                {{ product.price }} руб.
                                <a href="/products/catalog/{{ product.id }}/" class="stretched-link"> </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



            </div>
        </div>




        <div class="col-md-4 ">
            <div class="card" id="sidebar">
                <h3>Категории</h3>
                <ul>
                    {% for c in categories %}
                        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                            <a class="text-info" href="#{{ c.name }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}