{% extends 'main.html' %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block link %}
    <link rel="stylesheet"
          href="{% static 'css/styles.css' %}"
          type="text/css">
   <link href="https://bootstrap-4.ru/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block app %}

    <div class="container pt-4 pb-5">
        <div class="row align-items-center mt-5">
            <div class="col-12 name-ad mb-5">
                <h2 class="blog-post-title"> {{ product.name }}</h2>
                <p class="created-at mb-1">{{ product.created|date:"d.m.Y" }} {{ product.created|time:"H:i" }}</p>
            </div>
        </div>
        <div class="container">
             <div class="row mb-3">
                 <div class="col-md-8 themed-grid-col">
                     <h4 class="features">Характеристики</h4>
                     <p class="feature mt-4">Производитель: {{ product.manufacturer }}</p>
                     <p class="feature">Кол-во ламп: {{ product.number_of_lamps }}</p>
                     <p class="feature">Мощность: {{ product.power }}</p>
                     <p class="feature">Ширина:  {{ product.width }}</p>
                     <p class="feature">Высота: {{ product.height }}</p>
                     <p class="feature">Материал арматуры: : {{ product.reinforcement_material}}</p>
                 </div>

                 <div class="col-md-4 themed-grid-col">
                     <img class="col-sm-10 col-lg-12" src="{{ product.image.url }}"/>
                 </div>
             </div>
            <h4 class="blog-post-title">Описание</h4>
                <p class="feature">{{ product.description }}</p>
            </div>
        </div>
   </div>
{% endblock %}
